<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Login page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p th:if="${loginError}" class="error">Wrong user or password</p>
    <form th:action="@{/}" method="post"  th:object="${loginform}">
      <label for="username">Username</label>:
      <input type="text" id="username" name="username" /> <br />
      <label for="password">Password</label>:
      <input type="password" id="password" name="password" /> <br />
      <input type="submit" value="Log in" />
    </form>
    <a th:href="@{/register}">Register.</a>
  </body>
</html>

<!-- 
th:object="${loginForm}"


 		autofocus="autofocus"

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>

        <form action="#" th:action="@{/}" method="post">
            <table>
                <tr>
                    <td>username:</td>
                    <td><input type="text" th:field="*{name}" /></td>
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
                </tr>
                <tr>
                    <td>passwordname:</td>
                    <td><input type="text" th:field="*{name}" /></td>
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>
      
 </body>
 </html>
 -->